<template>
  <div>
    <h2>Nueva tarea</h2>
    <form class="new-task-form">
      <input type="text" class="form-control" v-model="draft">
      <button class="btn btn-primary" @click.prevent="add">Crear tarea</button>
    </form>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        draft: ''
      }
    },
    methods: {
      add () {
        this.$emit('add', {
          'description': this.draft,
          'pending': true,
          'editing': false
        })
        this.draft = ''
      }
    }
  }
</script>

<style scoped lang="scss">
  .new-task-form {
    display: flex;

    input {
      margin-right: 10px;
    }
  }


</style>
