<template>
  <li class="list-group-item task-list-item" :class="{editing: editing, completed: !task.pending}">
    <a href="#" @click="togglePending">
      <app-icon :img="task.pending ? 'unchecked' : 'check'"></app-icon>
    </a>
    <template v-if="!editing">
      <span class="description">{{ task.description }}</span>
      <div>
        <a href="#" @click="edit">
          <app-icon img="edit"></app-icon>
        </a>
        <a href="#" @click="remove">
          <app-icon img="trash"></app-icon>
        </a>
      </div>
    </template>

    <template v-else>
      <input type="text" v-model="draft">
      <a href="#" @click="confirm">
        <app-icon img="ok"></app-icon>
      </a>
      <a href="#" @click="cancel">
        <app-icon img="remove"></app-icon>
      </a>
    </template>
  </li>
</template>

<script>
  import Icon from 'components/Icon'

  export default {
    components: {
      'app-icon': Icon
    },
    props: ['tasks', 'task', 'i'],
    data () {
      return {
        editing: false,
        draft: ''
      }
    },
    created: function () {
      EventBus.$on('editing', (index) => {
        if (this.i != index) {
          this.cancel()
        }
      })
    },
    methods: {
      togglePending () {
        this.task.pending = !this.task.pending
      },
      edit () {
        EventBus.$emit('editing', this.i)
        this.draft = this.task.description
        this.editing = true
      },
      cancel () {
        this.draft = ''
        this.editing = false
      },
      confirm () {
        this.task.description = this.draft
        this.editing = false
        this.draft = ''
      },
      remove () {
        this.$emit('remove', this.i)
      }
    }

  }
</script>

<style scoped lang="scss">
  .task-list-item {
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
    }

    &.editing {
      box-shadow: inset 0 0 5px #999;
    }

    input, .description {
      flex: 1;
      padding: 0 5px;
    }

    input {
      border: 0;

      &.focus {
        outline: none;
      }
    }

    &.completed {
      &, a {
        color: #999;
      }

      .description {
        text-decoration: line-through;
      }
    }

  }


</style>
