<template>
  <ul class="list-group tasks-list">
    <list-item v-for="(task, i) of tasks" :key="task.id" :task="task" :i="i" @remove="deleteTask"></list-item>
  </ul>
</template>

<script>
  import Task from './ListItem'

  export default {
    components: {
      'list-item': Task
    },
    props: ['tasks'],
    methods: {
      deleteTask: function (i) {
        this.tasks.splice(i, 1)
      }
    }
  }
</script>

<style scoped lang="scss">
  .tasks-list {
    margin-bottom: 40px;
  }

</style>
