<template>
  <div>
    <h2>Tareas <span class="badge badge-secondary">{{tasks.length}}</span></h2>

    <form class="new-task-form">
      <button class="btn btn-warning" @click.prevent="removetaskCompleted">
        <app-icon img="ok"></app-icon>
        Borrar completadas
      </button>
    </form>

    <task-list :tasks="tasks"></task-list>

    <task-form @add="created"></task-form>
  </div>
</template>

<script>
  import Icon from 'components/Icon'
  import TaskList from 'components/Task/List'
  import TaskForm from 'components/Task/CreateForm'

  export default {
    components: {
      'app-icon': Icon,
      'task-list': TaskList,
      'task-form': TaskForm
    },
    data () {
      return {
        new_description: '',
        draft: '',
        tasks: [
          {description: 'Aprender Vue js', pending: true, editing: false},
          {description: 'Suscribirse a Styde.Net', pending: true, editing: false},
          {description: 'Grabar lección de Vue js', pending: false, editing: false}
        ]
      }
    },
    created: function () {
      this.tasks.forEach((task, index) => {
        this.$set(task, 'id', index + 1)
      })
    },
    methods: {
      created (task) {
        this.tasks.push(task)
      },
      removetaskCompleted () {
        this.tasks = this.tasks.filter(task => task.pending == true)
      }
    }
  }
</script>

<style scoped>

</style>
